<div class="main-container">
    <div class="page-container">
        <main>
            <div class="view-cont" *ngFor="let artist of artists">
                <div class="title-date">
                    <h2 [innerHTML]="setName(artist.artist_cover.first_name, artist.artist_cover.last_name)"></h2>
                    <p style="font-style: italic;"
                       [innerHTML]="artist.artist_cover.birth_place+', '+artist.artist_cover.birth_nation+', '+artist.artist_cover.birth_date">

                    </p>
                </div>
                <div class="mobile-page-menu">
                    <ul>
                        <li><a routerLinkActive="active" routerLink="/{{lang}}/artist/detail/{{artist.id}}">{{translation[lang].artistMobMenu.artistcover}}</a>
                        </li>
                        <li><a routerLinkActive="active" routerLink="/{{lang}}/artist/works/{{artist.id}}">{{translation[lang].artistMobMenu.selectedWorks}}</a>
                        </li>
                        <li><a routerLinkActive="active" routerLink="/{{lang}}/artist/exhibition/{{artist.id}}">{{translation[lang].artistMobMenu.exhibition}}</a>
                        </li>
                        <li><a routerLinkActive="active" routerLink="/{{lang}}/artist/bio/{{artist.id}}">{{translation[lang].artistMobMenu.biography}}</a>
                        </li>
                        <li><a routerLinkActive="active" routerLink="/{{lang}}/artist/news/{{artist.id}}">{{translation[lang].artistMobMenu.news}}</a>
                        </li>
                    </ul>
                </div>
                <div class="item first">
                    <div class="toggle-btn">=</div>
                    <div class="fixed-sidebar">
                        <div class="side-menu">
                            <ul>
                                <li><a routerLinkActive="active" routerLink="/{{lang}}/artist/detail/{{artist.id}}">{{translation[lang].artistMenu.artistscover}}</a>
                                </li>
                                <li><a routerLinkActive="active" routerLink="/{{lang}}/artist/works/{{artist.id}}">{{translation[lang].artistMenu.selectedworks}}
                                    ({{artist.selected_works.length}})</a></li>
                                <li><a routerLinkActive="active" routerLink="/{{lang}}/artist/exhibition/{{artist.id}}">{{translation[lang].artistMenu.exhibition}}</a>
                                </li>
                                <li><a routerLinkActive="active" routerLink="/{{lang}}/artist/bio/{{artist.id}}">{{translation[lang].artistMenu.biography}}</a>
                                </li>
                                <li><a routerLinkActive="active" routerLink="/{{lang}}/artist/news/{{artist.id}}">{{translation[lang].artistMenu.news}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item center full-height-cont" *ngFor="let artist of artists">
                    <div class="img-crop"><img src="{{artist.artist_cover.image}}">
                        <div class="caption">
                            <div><span
                                    [innerHTML]="setName(artist.artist_cover.first_name, artist.artist_cover.last_name)"></span>
                                <span> <a style="color: black;" (click)="runFacebook()" href=""><i
                                        class="fa fa-facebook"></i></a>
                                    <share-container
                                            direction="horizontal"
                                            [textEnabled]="false"
                                            [expandable]="false"
                                            [properties]="{
                                            title: artist.artist_cover.first_name + ' ' + artist.artist_cover.last_name,
                                            description: artist.artist_cover.first_name + ' ' + artist.artist_cover.last_name,
                                            image: artist.artist_cover.image,
                                            via: ''
                                            }"
                                            [platforms]="['twitter','pinterest']">
                                    </share-container>
                                </span>
                            </div>
                            <p>Exhibition views - Rizzutogallery - 2016</p>
                        </div>
                    </div>
                </div>
                <div class="item third">
                </div>
            </div>
        </main>
    </div>
</div>
<style>
    .caption-social a {
        padding: 0 !important;
    }
</style>

