<div class="main-container">
    <div class="page-container">
        <main>
            <div class="view-cont my-gallery">
                <div class="title-date" *ngFor="let artist of artists">
                    <h2 [innerHTML]="setName(artist.artist_cover.first_name, artist.artist_cover.last_name)"></h2>
                    <p style="font-style: italic;"
                       [innerHTML]="artist.artist_cover.birth_place+', '+artist.artist_cover.birth_nation+', '+artist.artist_cover.birth_date">
                    </p>
                </div>
                <div class="mobile-page-menu" *ngFor="let artist of artists">
                    <ul>
                        <li><a routerLinkActive="active" routerLink="/{{lang}}/artist/detail/{{artist.id}}">{{translation[lang].artistMobMenu.artistcover}}</a>
                        </li>
                        <li><a routerLinkActive="active" routerLink="/{{lang}}/artist/works/{{artist.id}}">{{translation[lang].artistMobMenu.selectedWorks}}</a>
                        </li>
                        <li><a routerLinkActive="active" routerLink="/{{lang}}/artist/exhibition/{{artist.id}}">{{translation[lang].artistMobMenu.exhibition}}</a>
                        </li>
                        <li><a routerLinkActive="active" routerLink="/{{lang}}/artist/bio/{{artist.id}}">{{translation[lang].artistMobMenu.biography}}</a>
                        </li>
                        <li><a routerLinkActive="active" routerLink="/{{lang}}/artist/news/{{artist.id}}">{{translation[lang].artistMobMenu.news}}</a>
                        </li>
                    </ul>
                </div>
                <div class="item first" *ngFor="let artist of artists">
                    <div class="toggle-btn">=</div>
                    <div class="fixed-sidebar">
                        <div class="side-menu">
                            <ul>
                                <li><a routerLinkActive="active" routerLink="/{{lang}}/artist/detail/{{artist.id}}">{{translation[lang].artistMenu.artistscover}}</a>
                                </li>
                                <li><a routerLinkActive="active" routerLink="/{{lang}}/artist/works/{{artist.id}}">{{translation[lang].artistMenu.selectedworks}}
                                    ({{artist.selected_works.length}})</a></li>
                                <li><a routerLinkActive="active" routerLink="/{{lang}}/artist/exhibition/{{artist.id}}">{{translation[lang].artistMenu.exhibition}}</a>
                                </li>
                                <li><a routerLinkActive="active" routerLink="/{{lang}}/artist/bio/{{artist.id}}">{{translation[lang].artistMenu.biography}}</a>
                                </li>
                                <li><a routerLinkActive="active" routerLink="/{{lang}}/artist/news/{{artist.id}}">{{translation[lang].artistMenu.news}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div #swiper class="item center" *ngFor="let artist of artists">

                    <div #run *ngFor="let work of artist.selected_works; let i=index">
                        <div class="img-crop">
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a class="pswp_img_link" href="{{work.image}}" itemprop="contentUrl"
                                   attr.data-size="{{work.image_size.width}}x{{work.image_size.height}}">
                                    <img src="{{work.image}}" itemprop="thumbnail"
                                         alt="Colorful Feldberg II (STEFFEN EGLY)"/>
                                </a>
                                <figcaption itemprop="caption description" *ngIf="work.measures.depth > 0">
                                    {{work.title}} -
                                    {{work.artist}}
                                    {{work.measures.width}}x{{work.measures.height}}x{{work.measures.depth}}
                                </figcaption>
                                <figcaption itemprop="caption description" *ngIf="work.measures.depth == 0">
                                    {{work.title}} -
                                    {{work.artist}} -
                                    {{work.measures.width}}x{{work.measures.height}}
                                </figcaption>
                            </figure>
                        </div>
                        <div class="caption">
                            <div>
                                <span> <a style="color: black;" (click)="runFacebook(i+1)" href=""><i
                                        class="fa fa-facebook"></i></a>
                                    <share-container
                                            direction="horizontal"
                                            [textEnabled]="false"
                                            [expandable]="false"
                                            [properties]="{
                                            title: work.title + ' - ' + work.artist,
                                            description: work.artist,
                                            image: work.image,
                                            via: ''
                                            }"
                                            [platforms]="['twitter','pinterest']">
                    </share-container>
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="item third">
                </div>
            </div>
        </main>
    </div>
</div>


<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element, as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
        <!-- don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <!-- <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button> -->

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>
<style>
    .caption-social a {
        padding: 0 !important;
    }
</style>